apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-eyego
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-eyego
  template:
    metadata:
      labels:
        app: hello-eyego
    spec:
      containers:
      - name: hello-eyego
        image: hello-eyego/eyego-app:latest825736768112.dkr.ecr.us-east-1.amazonaws.com/hello-eyego:latest

       # image: mahsamii/eyego-app:latest 
        ports:
        - containerPort: 3000
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
          requests:
            cpu: "200m"
            memory: "256Mi"